body {
  background: #0f172a;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #fff;
  width: 320px;
  border-radius: 12px;
  text-align: center;
  padding: 15px;
}

.banner {
  width: 100%;
  border-radius: 10px;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
}
